<html>
  <head>
	<script type="text/javascript" src="src/do-not-refactor/LawnmowerRepository.js"></script>
	<script type="text/javascript" src="src/do-not-refactor/PhoneCaseRepository.js"></script>
	<script type="text/javascript" src="src/do-not-refactor/TShirtRepository.js"></script>
	<script src="./dist/main.js"></script>
	
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
  </head>

  <body ng-app="main">
		
	<div  ng-controller="ProductData">

		<div ng-repeat="currency in currencies">

			<table class="table table-striped">
				<thead>
					<tr><td colspan="3">Products ({{currency.currency}})</td></tr>
					<tr>
						<td>Name</td>
						<td>Price</td>
						<td>Type</td>
					</tr>
				</thead>

				<tbody >
					<tr ng-repeat="product in products">
						<td >{{product.name}}</td>
						<td >{{formatCurrencyPrice(product.price, currency.value)}}</td>
						<td >{{product.type}}</td>
					</tr>
				</tbody>

			</table>

		</div>
		
	</div>
</body>
  
</html>
